<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cortes</title>
</head>
<body>
<div class="row mt-5">
    <div class="cortes mt-5 mb-5">
        <div class="card" style="width: 18rem; box-shadow: 4px 8px 15px rgba(0,0,0,0.41); border: none">
            <img src="{{ cortes.foto.url }}" class="card-img-top" alt="..." width="100%">
            <div class="card-body">
                <p class="card-text">{{ cortes.modelo }}</p>
                <p class="card-text">R$ {{ cortes.preco }}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>