{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<section class="section-home" id="id_banner_img" style="margin-top: -90px;"></section>

<section class="section-home" id="section-header">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Tratamento VIP</h1>
            <h3>Do Brasil para o Mundo</h3>
            <p class="p-5" style="text-align: justify;">Barber System é uma empresa que nasceu para gerar agiliadade e performance ao atendimento das barbearias<br><br>

                Nosso sistema auxilia no gerenciamento das princípais tarefas de uma barbearia, o agendamento de horários, controle de clientes e administração profissíonal.
                Estamos aprimorando a conexão entre barbeiros e clientes.<br><br></p>
        </div>
        <div class="col-md-6">
            <img src="https://uploaddeimagens.com.br/images/003/760/993/original/barber_system_logo-removebg-preview.png?1646787446"
                alt="" style="margin-top: 150px;">
        </div>
    </div>
</section>

<section class="section-home">
    <div class="row mt-5 p-5 text-white" style="color: #fff!important;">
        <div class="col-md-4">
            <h2 style="margin-top: 250px; font-size: 60px;">Cabelo</h2>
        </div>

        <div class="col-md-4">
            <h2 style="margin-top: 250px; font-size: 60px;">Barba</h2>
        </div>

        <div class="col-md-4">
            <h2 style="margin-top: 250px; font-size: 60px;">Bigode</h2>
        </div>
    </div>
</section>

<section class="section-home">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center mt-5">Agende Rápido</h1>
            <p class="p-5" style="text-align: justify;">Através do site seu agendamento é rápido e eficaz. Com poucos cliques seu agendamento é
                processado e concluído.
                <br>
                <br>

                Agenda aí!</p>
        </div>
        <div class="col-md-6">
            <img src="https://uploaddeimagens.com.br/images/003/761/037/original/pexels-monstera-5997313s.jpg?1646789990"
                alt="" width="400" height="600" style="border-radius: 10px; box-shadow: 8px 10px 10px #000000bf;">
        </div>
    </div>
</section>

<section class="section-home">
    <div class="row mt-5 p-5 text-white" style="color: #fff!important;">
        <div class="col-md-12">
            <h2 style="margin-top: 220px; font-size: 80px;">Cortes Personalizados</h2>
        </div>
    </div>
</section>

<section class="section-home">
    <div class="row">
        <div class="col-md-6">
            <img src="https://uploaddeimagens.com.br/images/003/761/087/original/pexels-cottonbro-6830370s.jpg?1646793176"
                alt="" width="400" height="600" style="border-radius: 10px; box-shadow: -8px 10px 10px #000000bf;">
        </div>

        <div class="col-md-6">
            <h1 class="text-center mt-5">Corte Delivery</h1>
            <p class="p-5" style="text-align: justify;">Pensando em trazer o maior conforto para os Sr´s idosos onde o deslocamento até uma barbearia pode ser tornar algo difícil, Proporcionamos que o melhor barbeiro possa estar lhe atendendo na sua própria casa. </n> Bastando apenas realizar um agendamento através do web site.<br><br>

                Não deixe de ficar no estilo!</p>
        </div>
    </div>
</section>
{% endblock content %}